*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#one{
    background-color: red;
    color: white;
}
#one img{
    width: 20vw;
}
#two{
    background-color: blue;
    color: white;
}
#three{
    background-color: green;
    color: white;
}
#three img{
    width: 20vw;
}

section{
    padding: 1rem;
}
section h2{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}